Komentar (comment) adalah kode di dalam script Python yang tidak dieksekusi atau tidak dijalankan mesin. Komentar hanya digunakan untuk menandai atau memberikan keterangan tertulis pada script. 
Komentar biasa digunakan untuk membiarkan orang lain memahami apa yang dilakukan script. atau untuk mengingatkan kepada programmer sendiri jika suatu saat kembali mengedit script tersebut.
Untuk menggunakan komentar anda cukup menulis tanda pagar #, diikuti dengan komentar Anda.
Dibawah ini adalah contoh penggunaan komentar pada Python.

In [19]:
#Ini adalah komentar
# Tulisan ini tidak akan dieksekusi

#komentar dengan tanda pagar hanya bisa digunakan
#untuk
#satu
#baris

print("Hello World") #ini juga komentar

#print("Welcome")

# komentar bisa berisi spesial karakter !@#$%^&*(),./;'[]\

Hello World

Tipe data adalah suatu media atau memori pada komputer yang digunakan untuk menampung informasi.
Python sendiri mempunyai tipe data yang cukup unik bila kita bandingkan dengan bahasa pemrograman yang lain.
Berikut adalah tipe data dari bahasa pemrograman Python:

1. Boolean Contoh: True atau False Penjelasan: Menyatakan benar(True) yang bernilai 1, atau salah(False) yang bernilai 0
2. String Contoh: "Ayo belajar Python" Penjelasan: Menyatakan karakter/kalimat bisa berupa huruf angka, dll (diapit tanda " atau ')
3. Integer Contoh: 25 atau 1209 Penjelasan: Menyatakan bilangan bulat
4. Float Contoh: 3.14 atau 0.99 Penjelasan: Menyatakan bilangan yang mempunyai koma
5. Complex Contoh: 1 + 5j Penjelasan: Menyatakan pasangan angka real dan imajiner
6. List Contoh: ['xyz', 786, 2.23] Penjelasan: Data untaian yang menyimpan berbagai tipe data dan isinya bisa diubah-ubah
7. Tuple Contoh: ('xyz', 768, 2.23) Penjelasan: Data untaian yang menyimpan berbagai tipe data tapi isinya tidak bisa diubah
8. Dictionary Contoh: {'nama': 'adi','id':2} Penjelasan: Data untaian yang menyimpan berbagai tipe data berupa pasangan penunjuk dan nilai

In [39]:
#tipe data Boolean
print(True)
print type(True)

True
<type 'bool'>

In [38]:
#tipe data String
print("Ayo belajar Python")
print('Belajar Python Sangat Mudah')
print type("Ayo belajar Python")
print type('Belajar Python Sangat Mudah')

Ayo belajar Python
Belajar Python Sangat Mudah
<type 'str'>
<type 'str'>

In [37]:
#tipe data Integer
print(20)
print type(20)

20
<type 'int'>

In [36]:
#tipe data Float
print(3.14)
print type(3.14)

3.14
<type 'float'>

In [35]:
#tipe data Complex
print(5j)
print type(5j)

5j
<type 'complex'>

In [34]:
#tipe data List
print([1,2,3,4,5])
print(["satu", "dua", "tiga"])
print type([1,2,3,4,5])
print type(["satu", "dua", "tiga"])

[1, 2, 3, 4, 5]
['satu', 'dua', 'tiga']
<type 'list'>
<type 'list'>

In [33]:
#tipe data Tuple
print((1,2,3,4,5))
print(("satu", "dua", "tiga"))
print type((1,2,3,4,5))
print type(("satu", "dua", "tiga"))

(1, 2, 3, 4, 5)
('satu', 'dua', 'tiga')
<type 'tuple'>
<type 'tuple'>

In [32]:
#tipe data Dictionary
print({"nama":"Budi", 'umur':20})
print type({"nama":"Budi", 'umur':20})

{'nama': 'Budi', 'umur': 20}
<type 'dict'>

Variabel adalah lokasi memori yang dicadangkan untuk menyimpan nilai-nilai. Ini berarti bahwa ketika Anda membuat sebuah variabel Anda memesan beberapa ruang di memori. Variabel menyimpan data yang dilakukan selama program dieksekusi, yang natinya isi dari variabel tersebut dapat diubah oleh operasi - operasi tertentu pada program yang menggunakan variabel.
Variabel dapat menyimpan berbagai macam tipe data. Di dalam pemrograman Python, variabel mempunyai sifat yang dinamis, artinya variabel Python tidak perlu didekralasikan tipe data tertentu dan variabel Python dapat diubah saat program dijalankan.
Penulisan variabel Python sendiri juga memiliki aturan tertentu, yaitu :
1. Karakter pertama harus berupa huruf atau garis bawah/underscore _
2. Karakter selanjutnya dapat berupa huruf, garis bawah/underscore _ atau angka
3. Karakter pada nama variabel bersifat sensitif (case-sensitif). Artinya huruf kecil dan huruf besar dibedakan. Sebagai contoh, variabel namaDepan dan namadepan adalah variabel yang berbeda.
Untuk mulai membuat variabel di Python caranya sangat mudah, Anda cukup menuliskan variabel lalu mengisinya dengan suatu nilai dengan cara menambahkan tanda sama dengan = diikuti dengan nilai yang ingin dimasukan.
Dibawah ini adalah contoh penggunaan variabel dalam bahasa pemrograman Python

In [73]:
#proses memasukan data ke dalam variabel
nama = "John Doe"
#proses mencetak variabel
print(nama)

John Doe

In [96]:
#nilai dan tipe data dalam variabel  dapat diubah
umur = 20               #nilai awal
print(umur)             #mencetak nilai umur
print type(umur)        #mengecek tipe data umur
umur = "dua puluh satu" #nilai setelah diubah
print(umur)             #mencetak nilai umur
print type(umur)        #mengecek tipe data umur

namaDepan = "Budi"
namaBelakang = "Susanto"
nama = namaDepan + " " + namaBelakang
umur = 22
hobi = "Berenang"
print("Biodata: ", nama, umur, hobi)

20
<type 'int'>
dua puluh satu
<type 'str'>
('Biodata: ', 'Budi Susanto', 22, 'Berenang')

In [76]:
#contoh variabel lainya
inivariabel = "Halo"
ini_juga_variabel = "Hai"
_inivariabeljuga = "Hi"
inivariabel222 = "Bye" 

panjang = 10
lebar = 5
luas = panjang * lebar
print(luas)

50

Konversi Tipe Data Number Python
Pada Python Anda bisa mengkonversi tipe data dengan menggunakan fungsi. Dibawah ini adalah beberapa fungsi untuk mengkonversi tipe data number Python.

In [100]:
#konversi dari string ke integer
a = "10"
print type(a)
print type(int(a))

<type 'str'>
<type 'int'>

In [102]:
#konversi dari integer ke string
a = 10
print type(a)
print type(str(a))

<type 'int'>
<type 'str'>

In [103]:
#konversi dari string ke long
a = "10"
print type(a)
print type(long(a))

<type 'str'>
<type 'long'>

In [104]:
#konversi dari string ke float
a = "10.5"
print type(a)
print type(float(a))

<type 'str'>
<type 'float'>

In [105]:
#konversi dari string ke float
a = "10j"
print type(a)
print type(complex(a))

<type 'str'>
<type 'complex'>

Dalam bahasa pemrograman python terdapat beberapa operator yang mendukung yaitu:
- Operator Aritmatika (Arithmetic Operators)
- Operator Perbandingan (Comparison (Relational) Operators)
- Operator Penugasan (Assignment Operators)
- Operator Logika (Logical Operators)
- Operator Bitwise (Bitwise Operators)
- Operator Keanggotaan (Membership Operators)
- Operator Identisas (Identity Operators)

Operator Aritmatika (Arithmetic Operators)

In [57]:
#Penjumlahan
print(13 + 2)
apel = 7
jeruk = 9
buah = apel + jeruk #
print(buah)

15

In [58]:
#Pengurangan
hutang = 10000
bayar = 5000
sisaHutang = hutang - bayar
print("Sisa hutang Anda adalah ", sisaHutang)

('Sisa hutang Anda adalah ', 5000)

In [59]:
#Perkalian
panjang = 15
lebar = 8
luas = panjang * lebar
print(luas)

120

In [60]:
#Pembagian
kue = 16
anak = 4
kuePerAnak = kue / anak
print("Setiap anak akan mendapatkan bagian kue sebanyak ", kuePerAnak)

('Setiap anak akan mendapatkan bagian kue sebanyak ', 4)

In [107]:
#Sisa Bagi / Modulus
bilangan1 = 14
bilangan2 = 5
hasil = bilangan1 % bilangan2
print("Sisa bagi dari bilangan ", bilangan1, " dan ", bilangan2, " adalah ", hasil)

('Sisa bagi dari bilangan ', 14, ' dan ', 5, ' adalah ', 4)

In [62]:
#Pangkat
bilangan3 = 8
bilangan4 = 2
hasilPangkat = bilangan3 ** bilangan4
print(hasilPangkat)

64

In [63]:
#Pembagian Bulat
print(10//3) 
#10 dibagi 3 adalah 3.3333. Karena dibulatkan maka akan menghasilkan nilai 3

3

String adalah jenis yang paling populer di bahasa pemrograman. Kita bisa membuatnya hanya dengan melampirkan karakter dalam tanda kutip. Python memperlakukan tanda kutip tunggal sama dengan tanda kutip ganda. Membuat string semudah memberi nilai pada sebuah variabel.
Dibawah ini adalah contoh sederhana dari sebuah string pada bahasa pemrograman Python.

In [49]:
print("Hello World")

Hello World

Mengakses Nilai dalam String
Python tidak menggunakan tipe karakter titik koma ; Ini diperlakukan sebagai string dengan panjang satu, sehingga juga dianggap sebagai substring.
Untuk mengakses substring, gunakan tanda kurung siku untuk mengiris beserta indeks atau indeks untuk mendapatkan substring Anda. Sebagai contoh:

In [53]:
name = 'John Doe'
message = "John Doe belajar bahasa python di Belajarpython"
print ("name[0]: ", name[0])
print ("message[1:4]: ", message[1:3])

('name[0]: ', 'J')
('message[1:4]: ', 'oh')

Mengupdate String
Anda dapat "memperbarui" string yang ada dengan (kembali) menugaskan variabel ke string lain. Nilai baru dapat dikaitkan dengan nilai sebelumnya atau ke string yang sama sekali berbeda sama sekali. Sebagai contoh:

In [54]:
message = 'Hello World'
print ("Updated String :- ", message[:6] + 'Python')

('Updated String :- ', 'Hello Python')

Operator spesial pada string\
Pada python tipe data string juga dapat dimungkinkan mengalami operator matematika. contoh penggunaannya adalah sebagai berikut:

In [77]:
a = "Belajar"
b = "Python"

#operasi + (Menambahkan nilai pada kedua sisi operator)
print a+b

BelajarPython

In [80]:
a = "Belajar"

#operasi * (Membuat string baru, menggabungkan beberapa salinan dari string yang sama)
print a*2

BelajarBelajar

In [81]:
a = "Belajar"

#operasi [] (Memberikan karakter dari indeks yang diberikan)
print a[1]

e

In [82]:
a = "Belajar"

#operasi [:] (Memberikan karakter dari kisaran yang diberikan)
print a[1:4]

ela

In [85]:
a = "Belajar Python"
b = "Python"

#operasi in (Mengembalikan nilai true jika ada karakter dalam string yang diberikan)
print b in a

True

In [90]:
a = "Belajar"
b = "Python"

#operasi not in (Mengembalikan nilai true jika karakter tidak ada dalam string yang diberikan)
print b not in a

True

Triple Quote Python
Python triple quotes digunakan dengan membiarkan string untuk ditulis dalam beberapa baris, termasuk kata kerja NEWLINEs, TABs, dan karakter khusus lainnya. 
Sintaks untuk triple quotes terdiri dari tiga tanda kutip tunggal atau ganda ditulis berturut-turut :
Berikut adalah contohnya:

In [91]:
kutipantiga = """this is a long string that is made up of
several lines and non-printable characters such as
TAB ( \t ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [ \n ], or just a NEWLINE within
the variable assignment will also show up.
"""
print (kutipantiga)

this is a long string that is made up of
several lines and non-printable characters such as
TAB ( 	 ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [
 ], or just a NEWLINE within
the variable assignment will also show up.